<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        /* Color Palette: 
            Feldgrau: #4c6663
            Eton Blue: #80cfa9
            Powder Blue: #a7e2e3
            Periwinkle Crayola: #c9d7f8
            Thistle: #d4c5e2
         */
        body {
            color: #a7e2e3;
            background-color: #80cfa9;
            margin: 0 auto;
        }
        h1{
            text-align: center;
            background-color: #4C6663 ;
            margin: 0 auto;
            padding: 2%;
        }
        ol {
            border-radius: 7px;
            padding: 0%;
             background-color: #4C6663 ;
             align-items: center;
             text-align: left;
             margin-top: 3%;
             margin-left: 15%;
             margin-right: 15%;
        }

        li {
           display: flex;
             background-color: #4C6663 ;
             flex-direction: column;
             padding: .65%;
             text-align: center;
             border-radius: 7px;
        }
        a{
            list-style-type: none;
            text-decoration: none;
            color:#a7e2e3;
        }
        a:hover {
            color: black;
        }
    </style>
    <title>Drinks List</title>
</head>
<body>
    <h1>Software Engineers Drink Too... Welcome to <strong>gitPub!</strong></h1>
<ol>
    <% for (let i = 0; i < drinks.length; i++){ %>
        <li><a href="http://localhost:3000/drinks/<%= i%>"> <%= drinks[i].name.charAt(0).toUpperCase() + drinks[i].name.slice(1) %></a></li>
    <% } %>
</ol>
</body>
</html>